body {
    margin: 0;
    padding: 0;
}

.flex-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box-container img {
    width: 20%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    transition: .5s;
}

.flex-box-container img:hover {
    transform: scale(1.1);
    transition: .5s;
}