body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex-basis: 49%;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-size: 22px;
    border-radius: 10px 0px 10px 0px;
    transition: .5s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(.90);
    border-radius: 0px 10px 0px 10px;
    transition: .5s;
}

.btn-primary {
    background: cyan;
}

.btn-success {
    background: greenyellow;
}

.btn-danger {
    background: red;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.text-primary {
    color: cyan;
}

.m-auto {
    margin: 0 auto;
}

.m-2 {
    margin: 2rem 0;
}

.pl-1 {
    padding-left: 15px;
}

#your-box, #dealer-box {
    border: 1px solid black;
    height: 400px;
    color: white;
}

#your-box img, #dealer-box img {
    width: 100px;
    height: 135px;
    margin: 5px;
}

.board {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    padding: 1px 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 15px gray;
    object-fit: cover;
}

table {
    border: 1px solid black;    
    padding: 2px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}